p {
    margin: 0 0 0em 0;
}

.key-takeaways{
    font-size: 3rem;
    font-weight:600;
    color:#354753;
}

.summary-box{
    background-color: #f7f7f7;
    border-left: 5px solid #6bc9df;
    padding: 20px 20px 20px;
}

.welcome-card:before {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #6bc9df;
    background: -webkit-linear-gradient(left,#6bc9df 0%,#6bc9df 25%,#79decc 25%,#79decc 50%,#f8859c 50%,#f8859c 74%,#f8859c 75%,#ffd900 75%,#ffd900 97%);
}

.welcome-card {
    background-color: #354653;
    color: #FFFFFF;
    margin-top: -90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 39px;
    border-radius: 4px;
    margin-bottom: 20px;
    height: 100%;
}

.filter-by{
    font-size: 1.4rem;
}

.welcome-card-title {
    color: inherit;
    font-size: 2.36rem;
    line-height: 1.5;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 13px;
    max-width: 100%;
    text-transform: uppercase;
}
.welcome-card-description {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    color: inherit;
    margin-top: 13px;
    margin-bottom: 22px;
    max-width: 100%;
}
@media screen and (min-width: 992px) {
    .welcome-card-description {
        margin-bottom: 10;
    }
}
.welcome-card-link {
    color: inherit;
    font-weight: bold;
    margin-top: 20px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    opacity: 1;
    max-width: 100%
}
.welcome-card-link .fa {
    position: relative;
    left: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.welcome-card-link:hover {
    background-color: #fff!important;
    color: #354753!important;
    text-decoration: none;
}

.welcome-card-link:hover .fa {
    left: 3px;
}
@media screen and (min-width: 992px) {
    .welcome-card {
        height: 130%;
        position: relative;
    }
}

.home-header {
    margin-bottom: 20px;
    /* Change this value to make the background image taller or smaller */
    height: 350px;
    /* Background color before image loads */
    background-color: var(--highlight);
    background-size: cover;
    /* You can replace the background-image by uploading an image to the portal assets
    and replacing the text in simple quotes below or use the URL of an image on the web */
    background-image: url('/assets/theme_image/Turbines2.jpg');
    /* Position of the background-image on x y axis. Change these values to
    modify where the image is centered.
    */
    background-position: center center;
}

.odswidget-select-dropdown-label {
    color:#354653;
}

:root {
    --boxes-radius: 6px;
}

body, main {
    margin: 0;
    background-color: #F2F3F8;
}

section {
    padding: 1.5rem 0;
}

.header {
    margin: 3rem 2rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-2 {
    margin-bottom: 2rem;
}

.box {
    position: relative;
    padding: 13px;
}
.box.white {
    background-color: white;
}
.box.flat {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
    border-radius: var(--boxes-radius);
}

.advanced-kpi {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advanced-kpi--top .title {
    font-size: 1.5em;
    margin: 0;
}
.advanced-kpi--top .description {
    margin: 0 auto;
    color: #565656;
    font-size: 1em;
    font-weight: 400;
}

.advanced-kpi--middle {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.advanced-kpi--middle.centered {
    align-items: center;
}
.advanced-kpi--middle > * {
    margin: 5px 0;
}
.advanced-kpi--middle .value {
    color: #354653;
    font-weight: 700;
    font-size: 3rem;
}

.advanced-kpi--bottom {
    font-size: 0.8em;
}
.advanced-kpi--bottom .advanced-kpi--bottom-second-stage {
    display: flex;
    justify-content: space-between;
}
.advanced-kpi--bottom .source {
    text-decoration: none;
    color: #354653;
}
.advanced-kpi--bottom .source i {
    margin-left: 6px;
}
.advanced-kpi--bottom .source:hover {
    opacity: 0.65;
}
.advanced-kpi--bottom .source:hover i {
    animation: bounce 0.7s ease infinite;
}

@keyframes bounce {
    from {
        margin-left: 6px;
        margin-right: 0;
    }
    50% {
        margin-left: 2px;
        margin-right: 4px;
    }
    to {
        margin-left: 6px;
        margin-right: 0;
    }
}
.no-bg rect.highcharts-background {
    fill: transparent !important;
}

/**
* License: MIT License
* Generated on 07 Jun 2021
* Author: Labs from opendatasoft
* Version: 0.2
* Description: ODS Layout over-ride to Flexbox system
*/

.box,.row.full-height{height:100%}.row{display:flex;flex-wrap:wrap;justify-content:center}.row>*{margin-bottom:20px;flex-grow:1}.order-0{order:0}@media screen and (min-width:750px){.order-sm-0{order:0}}@media screen and (min-width:970px){.order-md-0{order:0}}@media screen and (min-width:1170px){.order-lg-0{order:0}.order-lg-1{order:1}}.order-1{order:1}@media screen and (min-width:750px){.order-sm-1{order:1}}@media screen and (min-width:970px){.order-md-1{order:1}.order-md-2{order:2}}.order-2{order:2}@media screen and (min-width:750px){.order-sm-2{order:2}}@media screen and (min-width:1170px){.order-lg-2{order:2}.order-lg-3{order:3}}.order-3{order:3}@media screen and (min-width:750px){.order-sm-3{order:3}}@media screen and (min-width:970px){.order-md-3{order:3}.order-md-4{order:4}}.order-4{order:4}@media screen and (min-width:750px){.order-sm-4{order:4}}@media screen and (min-width:1170px){.order-lg-4{order:4}.order-lg-5{order:5}}.order-5{order:5}@media screen and (min-width:750px){.order-sm-5{order:5}}@media screen and (min-width:970px){.order-md-5{order:5}.order-md-6{order:6}}.order-6{order:6}@media screen and (min-width:750px){.order-sm-6{order:6}}@media screen and (min-width:1170px){.order-lg-6{order:6}.order-lg-7{order:7}}.order-7{order:7}@media screen and (min-width:750px){.order-sm-7{order:7}}@media screen and (min-width:970px){.order-md-7{order:7}.order-md-8{order:8}}.order-8{order:8}@media screen and (min-width:750px){.order-sm-8{order:8}}@media screen and (min-width:1170px){.order-lg-8{order:8}.order-lg-9{order:9}}.order-9{order:9}@media screen and (min-width:750px){.order-sm-9{order:9}}@media screen and (min-width:970px){.order-md-9{order:9}.order-md-10{order:10}}.order-10{order:10}@media screen and (min-width:750px){.order-sm-10{order:10}}@media screen and (min-width:1170px){.order-lg-10{order:10}.order-lg-11{order:11}}.order-11{order:11}@media screen and (min-width:750px){.order-sm-11{order:11}}@media screen and (min-width:970px){.order-md-11{order:11}.order-md-12{order:12}}.order-12{order:12}@media screen and (min-width:750px){.order-sm-12{order:12}}@media screen and (min-width:1170px){.order-lg-12{order:12}}@media screen and (max-width:1169px){:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-1,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-10,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-11,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-12,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-2,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-3,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-4,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-5,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-6,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-7,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-8,:not([class*=col-md]):not([class*=col-sm]):not([class*=col-xs]).col-lg-9{width:100%}}@media screen and (max-width:969px){:not([class*=col-sm]):not([class*=col-xs]).col-md-1,:not([class*=col-sm]):not([class*=col-xs]).col-md-10,:not([class*=col-sm]):not([class*=col-xs]).col-md-11,:not([class*=col-sm]):not([class*=col-xs]).col-md-12,:not([class*=col-sm]):not([class*=col-xs]).col-md-2,:not([class*=col-sm]):not([class*=col-xs]).col-md-3,:not([class*=col-sm]):not([class*=col-xs]).col-md-4,:not([class*=col-sm]):not([class*=col-xs]).col-md-5,:not([class*=col-sm]):not([class*=col-xs]).col-md-6,:not([class*=col-sm]):not([class*=col-xs]).col-md-7,:not([class*=col-sm]):not([class*=col-xs]).col-md-8,:not([class*=col-sm]):not([class*=col-xs]).col-md-9{width:100%}}@media screen and (max-width:749px){.row{flex-direction:column}:not([class*=col-xs]).col-sm-1,:not([class*=col-xs]).col-sm-10,:not([class*=col-xs]).col-sm-11,:not([class*=col-xs]).col-sm-12,:not([class*=col-xs]).col-sm-2,:not([class*=col-xs]).col-sm-3,:not([class*=col-xs]).col-sm-4,:not([class*=col-xs]).col-sm-5,:not([class*=col-xs]).col-sm-6,:not([class*=col-xs]).col-sm-7,:not([class*=col-xs]).col-sm-8,:not([class*=col-xs]).col-sm-9{width:100%}}.no-margin-bottom,.no-mb{margin-bottom:0!important}.no-margin-x,.no-mx{margin-left:0!important;margin-right:0!important}

/* Do not copy below, for Code Library resource only */
.chart-placeholder {
    background-color: #fff1f1;
    height: 350px;
}
.chart-placeholder:before {
    display: block;
    font-size: 2rem;
    margin: 0.2rem 0.5rem;
    content: "Chart";
}


/* Variables & Shared classes
========================================================================== */
:root {
    --secondary-color: #142e7b;
}

main {
    margin: 0;
}

/* HEADER */
section {
    padding-top: 2rem;
}

.header {
    background: var(--boxes-background);
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 2rem;
}
.heading h1.title {
    font-size: 3em;
}
.heading h3.title {
    font-size: 1.7em;
}
@media screen and (min-width: 640px) {
    .heading {
        margin: 2rem 12%;
    }
}
.description  {
    margin-bottom: 2em;
}

/***** Share width inlined ods-select *****/
.shared-width-ods-selects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.odswidget-select-button {
    font-size:1.2rem;
}

.odswidget-select-input {
    font-size:1.2rem;
}

.shared-width-ods-selects > div > .odswidget-select {
    margin: 3px 6px 3px 0px;
    flex: 1;
    /*
    To assure a minimum width, set a min-width property here.
    */
    min-width: 200px;
}

/***** Clear filters button *****/

.clear-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.clear-filters-button {
    background: none;
    border: none;
    color: white;
    padding-top: 10px;
}

.clear-filters-button:hover {
    opacity: 0.65;
}

/* VIZ */

.viz-card {
    background-color: var(--boxes-background);
    height: auto;
    width: 100%;
    border-radius: 4px;
}

/* KPI Card
========================================================================== */
.kpi-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.kpi-card {
    padding: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.kpi-icon {
    color: var(--highlight);
    color: var(--secondary-color);
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 13px;
    max-width: 100%;
}
.kpi-title {
    font-weight: normal;
    color: var(--highlight);
    font-size: 3.2rem;
    margin-top: 0;
    margin-bottom: 13px;
    max-width: 100%;
}
.kpi-description {
    color: var(--text);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
}

/* Content Card
========================================================================== */
.content-card {
    padding: 26px;
    margin-bottom: 20px;
}
.content-card-title {
    color: var(--titles);
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 13px;
    max-width: 100%;
}
.content-card-description {
    color: var(--text);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 26px;
    max-width: 100%;
}

/* Charts
========================================================================== */

rect.highcharts-background {
    fill: transparent !important;
}
