duckdb==1.00
ipykernel==6.29.3
ipython==8.22.2
jupyter-client==8.6.0
jupyter-core==5.7.1
pandas==2.2.2
pathlib
polars==0.20.15
pyarrow
python-dateutil==2.8.2
pytz==2024.1
pyyaml==6.0.1
pyzmq==25.1.2
requests==2.31.0
setuptools==69.5.1
shapely==2.0.4
six==1.16.0
tenacity==8.2.3
tornado==6.4
traitlets==5.14.1
urllib3==2.2.1
wcwidth==0.2.13
zipp==3.18.1
